---
# See https://docs.docker.com/engine/installation/linux/debian/

- name: Check OS version
  fail: msg="This role only works on Debian Jessie servers"
  when: ansible_distribution != "Debian" or ansible_distribution_version|int != 8

- name: Install APT HTTPS support
  apt: >
    name={{ item }}
    state=present
    update_cache=yes
  with_items:
    - apt-transport-https
    - ca-certificates
  become: true

- name: Add Docker APT repo
  apt_repository: >
    repo='deb https://apt.dockerproject.org/repo debian-jessie main'
    state=present
  become: true

- name: Add key for Docker APT repo
  apt_key: >
    keyserver=hkp://p80.pool.sks-keyservers.net:80
    id=58118E89F3A912897C070ADBF76221572C52609D
    state=present
  become: true

- name: Install Docker
  apt: >
    name=docker-engine
    state=present
    update_cache=yes
  become: true

- name: Create Docker group
  group: >
    name=docker
    state=present
  become: true

- name: Start Docker service
  service: >
    name=docker
    state=started
    enabled=yes
  become: true
